<div class="card">
    <div class="card-header">
        <h3>Home</h3>
    </div>
    <div class="card-body">
        <p>Level up with our plans for 5k, 10k and marathon training. 
        Map your runs and track minutes, miles and calories burned for over 120 activities. We’re more than just a run tracker. 
        Take part in Challenges and Virtual Races will keep you on your toes and keep the competitive spirit alive. 
        Create your own fitness community to motivate you and push you forward when you follow other users.</p>
    </div>
</div>