<% provide(:button_text, 'Edit my time') %>
<div class="card">
    <div class="card-header">
        <h1>Editing Inserted Time</h1>
    </div>
    <div class="card-body">
        <%= render 'jogtimes/form', jogtime: @jogtime %>
    </div>
</div>
<br>
<%= link_to 'Back', actual_user, class: "btn btn-secondary" %>
